.marquee-img {
    width: 8%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.before{
    position: relative;
}

.before:after{
    content: "SEGUROS";
    position: absolute;
    color: #FF3E00;
    font-size: 1.2rem;
    bottom: 0;
}


@media (max-width:600px) {
    .before:after{
        font-size: 0.8rem;
        bottom: -2px;
    }
  }